.about-food {
	@include block_padding;
	@include block_border;
	margin-bottom: 10px;

	h2,p {
		padding-bottom: 26px;
	}

}

.section-tabs {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
		@media screen and (max-width: 768px) {
			flex-direction: column;
		}
}
.section-tabs__tabs {
	width: 25%;
	flex-grow: 1;
	flex-shrink: 1;
	margin-right: 20px;
		@media screen and (max-width: 768px) {
			width: 100%;
		}
}
.section-tabs__content {
	width: 75%;
	flex-grow: 1;
	flex-shrink: 1;
		@media screen and (max-width: 768px) {
			width: 100%;
		}
}





.tab-slide {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
		@media screen and (max-width: 1100px) {
			flex-direction: column;
		}
}
.tab-slide__text {
	width: 60%;
	margin-right: 20px;
		@media screen and (max-width: 1100px) {
			width: 100%;
		}
}
.tab-slide__photo {
	width: 40%;
		@media screen and (max-width: 1100px) {
			width: 100%;
		}
}












.about-food {}
.about-food__tabs {
	padding-right: 25px;
}
.about-food__text {
	// padding: 0 37px;
}
.about-food__photos {
	padding-left: 25px;
}