.about-sanatorium {

	@include block_padding;
	@include block_border;
	
	h2,p {
		margin-bottom: 26px;
	}
	p:last-child {
		margin-bottom: 0;
	}

	@media screen and (max-width: 967px) {
		.section_half {
			width: 100%;
		}
	}	
}

// elements

.about-sanatorium__text {
	// styles
		@media screen and (max-width: 967px) {		
			width: 100%;		
		}
}

.about-sanatorium__photos {	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
	min-height: 400px;

		@media screen and (min-width: 769px) and (max-width: 967px) {		
			flex-direction: column;		
		}
		@media screen and (max-width: 768px) {		
			width: 100%;	
		}

}