.accommodation-and-about {
	
}
.accommodation-and-about__accommodation {
	margin-right: 10px;
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	margin-right: 10px;
	overflow: hidden;
	
		@media screen and (max-width: 768px) {
			min-height: 300px;
		}

	h2,p {
		margin-bottom: 26px;
	}
	.price {
		font-size: 26px;
		font-weight: 600;
	}
}
.accommodation-and-about__about {
	@include block_padding;
	@include block_border;
	
		@media screen and (max-width: 768px) {
			margin-top: 10px;
		}
	h2,p {
		margin-bottom: 26px;
	}
}