.accommodation-pagination-link {
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	padding: 6px 14px;
	border: 1px solid transparent;
	&.swiper-pagination-bullet-active {
		border: 1px solid #fff;
		border-radius: 5px;
	}
}