.accommodation-swiper {
	height: 100%;
	position: relative;
}

.accommodation-swiper__pagination {
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	z-index: 10;
}