.accommodation-slide {
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;	
	@include block-padding;

		@media screen and (max-width: 1199px) {		
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
		 	padding-left: 160px;
		}

		@media screen and (max-width: 413px) {		
			padding-left: 20px;
		}
}