

.ask {
	@include block_padding;
	background-color: #efefef;
	margin-bottom: 10px;

	h2 {
		margin-bottom: 42px;
	}
}

// блок
.ask-content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
		@media screen and (max-width: 417px) {
			width: 100%;
			flex-direction: column;
		}
}
	// элементы блока
	.ask-content__director {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-right: 25px;
		width: 35%;
		flex-grow: 1;
			@media screen and (max-width: 1000px) {
				width: 45%;
			}
			@media screen and (max-width: 800px) {
				width: 40%;
				flex-direction: column;
			}
			@media screen and (max-width: 417px) {
				width: 100%;
				flex-direction: column;
				margin: 0 0 20px 0;
			}		
		// вложенные
		.director-photo{							
			flex-grow: 0;
			flex-shrink: 0;			
			width: 134px;
			height: 134px;			
			margin-right: 23px;			
			border-radius: 50%;
			border: 2px solid #fff;
			background-image: url(/img/director.png);
			background-repeat: no-repeat;
			background-size: cover;
				@media screen and (max-width: 800px) {
					margin-bottom: 15px;
				}
				@media screen and (max-width: 417px) {
					margin: 0 auto;
					margin-bottom: 15px;
				}

			img {
				border-radius: 50%;
			}
		}
		.director-text {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			padding: 10px 0;
			// вложенные
			.director-name{
				margin-bottom: 20px;
				color: $color_secondary;
				font-size: 17px;
				font-weight: 600;
					@media screen and (max-width: 417px) {
						text-align: center;
					}
				}
			.director-position{
				margin-bottom: 20px;
				color: $color_secondary;
				font-size: 16px;				
				font-weight: 400;
					@media screen and (max-width: 417px) {
						text-align: center;
					}


			}
			.director-contacts{
				color: #3b3b3b;
				font-size: 16px;
					@media screen and (max-width: 417px) {
						text-align: center;
					}


			}
		}
		
	}
	.ask-content__form {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		width: 65%;
		flex-grow: 1;
			@media screen and (max-width: 1000px) {
				width: 55%;
			}
			@media screen and (max-width: 800px) {
				flex-direction: column;
				width: 60%;
			}
			@media screen and (max-width: 417px) {
				width: 100%;				
			}

		.form-left{
			width: 60%;
			margin-right: 10px;
				@media screen and (max-width: 800px) {
					width: 100%;
				}
				@media screen and (max-width: 417px) {
					width: 100%;				
				}
		}
		.form-right{
			width: 40%;
				@media screen and (max-width: 800px) {
					width: 100%;
				}
				@media screen and (max-width: 417px) {
					width: 100%;				
				}
		}

		
		input[type=text],
		input[type=submit] {
			height: 42px;
			width: 100%;
			color: black;
		}
		textarea {
			width: 100%;
			height: 94px;
		}

		input[type=text],
		textarea {
			text-align: left;
			padding-left: 15px;
			background-color: #fff;
			margin-bottom: 10px;
			border: 0;
			color: #3b3b3b;
		}
		input[type=submit] {
			background-color: $color_secondary;
			color: #fff;
			font-size: 16px;
			// font-weight: 400;
			cursor: pointer;
			transition: 300ms;
			&:hover {
				color: #fff;
				background-color: $color-main;
			}
		}
}