// block
.booking {
	background-color: $color_main;
	// width: 290px;
	min-height: 300px;
	@include block_padding;
	@media screen and (max-width: 768px) {
		margin-top: 10px;
	}
}
	// elements
	.booking__booking-form {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		max-width: 300px;
		margin: 0 auto;
		p, h2, input, a {color: #fff}
	}