// block
.book-cheaper {
	position: relative;
	background-color: $color_accent;
	@include block_padding;
	overflow: hidden;
	margin-bottom: 10px;

	h2,p {
		padding-bottom: 26px;
	}
	a.btn {
		display: inline-block;
	}

	&:after {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 20%;
		width: 320px;
		height: 220px;
		background-image: url(/img/bg/bg_persent.png);
		background-size: contain;
		content: "";

	}
}