// block
.btn {
	padding: 9px 10px;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	display: inline-block;
	transition: 300ms;
	overflow: hidden;
	font-size: 17px;

	// делаем кнопки поверх всех :after и :before
	z-index: 1; 

	&:after {
		position: absolute;
		top: 0;
    	left: 0;
		width: 0;
		height: 100%;
		background-color: rgba(255,255,255,.2);		
		z-index: 2;
		content: "";		
		transition: 300ms;
	}
	&:hover:after {
		width: 100%;
	}
}

// modificators
.btn_color-main {
	color: #fff;	
	background-color: $color_main;

	a {color: #fff; text-decoration: none;}
}
.btn_color-secondary {
	position: relative;
	color: #fff;
	background-color: $color_secondary;

	a {color: #fff; text-decoration: none;}
}
.btn_gradient {
	color: #fff;
	@include gradient;

	a {color: #fff; text-decoration: none;}
}
.btn_transparent {
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
	min-width: 183px;
	text-align: center;

	a {color: #fff; text-decoration: none;}		
}
.btn_outline {
	color: $color_main;
	background-color: transparent;
	border: 1px solid $color_main;
	min-width: 183px;
	text-align: center;
	a {color: $color_main; text-decoration: none;}
	&:after	 {
		background-color: $color_main;
		opacity: .1
	}
}

.btn_size-s {}
.btn_size-m {}
.btn_size-l {
	padding: 13px 50px;
}
.btn_size-xl {
    padding: 20px 30px;
    text-transform: uppercase;
}


// states
.btn_main-color:hover {
	color: #fff;		
}
.btn_gradient:hover {
	color: #fff;		
}
.btn_transparent:hover {
	color: #fff;		
}

// .btn_color-secondary:hover {
// 	background-color: #fff;
// 	color: $color_main;
// }

