.checklist {		
		padding-left: 24px;
		list-style: none;
		font-size: 17px;
		font-weight: 300;
			@media screen and (max-width: 768px) {
				margin-bottom: 15px;
			}
	}
	.checklist li {position: relative; padding-bottom: 8px;}
	.checklist li:before {
		position: absolute;
		top: 3px;
		left: -20px;
		width: 3px;
		height: 7px;
		border-bottom: 2px solid $color_secondary;
		border-right: 2px solid $color_secondary;
		transform: rotate(45deg);
		content: "";
	}