// block
.course-tab {
	padding: 8px 0;
	padding-left: 37px;
	list-style: none;
	background-color: transparent;
	font-size: 15px;
	color: #fff;
	font-weight: 400;

}

	// states
	.course-tab_active {
		background-color: $color_main;
	}