// block
.food {	
	background-color: #f0f0f0;
	@include block_padding;
	@include block_border;	
}

	// elements
	.food__description {
		@include block_padding;
		h2,p {margin-bottom: 26px;}
			@media screen and (max-width: 768px) {
				width: 100%;
			}
	}
	.food__right {}

	// modificators
	.food__full-photo {		
		// margin-right: 10px;
		width: 45%;
	    flex-grow: 1;	    
	    flex-shrink: 1;
	    height:100%;
	    	@media screen and (max-width: 768px) {
				width: 100%;
				min-height: 300px;
				height: auto;
			}
	}
	.food__tiles {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
			@media screen and (max-width: 968px) {
				display: none;
			}		
	}
	