.icon-container {
		background-size: contain;		
		background-repeat: no-repeat;
		background-position: center center;
	}

		.icon-container_hero {
			width: 52px;
			height: 52px;
			margin-bottom: 18px;
			// background-size: 45px;
		}

		.icon-container_why {
			width: 100%;
			height: 44px;
			margin-bottom: 16px;			
		}

		.icon-container_swiper-infographics {
			width: 63px;
			height: 54px;
			margin-bottom: 16px;
			margin: 0 auto;			
		}