input[type=text],
input[type=submit],
textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

textarea {
    padding-top: 12px;
}

input[type=text]  {
	box-sizing: border-box;
    width: 100%;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 5px 5px 10px;
    background: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: left;
}

input[type=submit],
textarea {
	border: 0;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.with-icon_calendar {
    background: transparent url(/img/ico-cal.png) 95% 5px no-repeat !important;
}
.with-icon_discount {
    background: transparent url(/img/ico-cal.png) 95% 5px no-repeat; 
    background-position: left center; 
    background-repeat: no-repeat; 
    padding-left: 30px;
}
.with-icon_caret-to-right {
    background: transparent url(/img/ico-cal.png) 95% 5px no-repeat; 
    background-position: right center; 
    background-repeat: no-repeat; 
    padding-right: 30px;
}

