// block
.photoalbum {
	flex-wrap: wrap;

	h2 {
		margin-bottom: 32px;
	}
}

// elements
.photoalbum__lead {
	@include block_padding;
	background: #027594 url(/img/bg/bg_line-diagonal.png);
	background-size: 350px;
	flex-grow: 1;
	width: 48%;
    margin-right: 10px;
    margin-bottom: 10px;
    max-height: 235px;
		@media screen and (max-width: 768px) {
			width: 100%;
			margin-right: 0;
		}
		@media screen and (max-width: 400px) {
			background-size: cover;							
		}
}

.photoalbum__photo {
	flex-grow: 1;
	width: 22.8%;
	margin-right: 10px;
	height: 100%;
	min-height: 225px;
	margin-bottom: 10px;
	
		@media screen and (max-width: 768px) {
			width: 48%;
			min-height: 162px;
			margin: 0;
			margin-right: 10px;
			margin-bottom: 10px;
			&:nth-child(5) {
				margin-right: 0;
			}				
		}

		@media screen and (max-width: 400px) {
			width: 100%;
			margin: 0 !important;
			margin-bottom: 10px !important;
							
		}
	&:nth-child(3),
	&:nth-child(7) {
		margin-right: 0px;			
	}
}

  