// block
.resort-permit-feature {
		float: left;
		min-width: 165px;
		transition: 300ms;
		// cursor: pointer;		
		p {
			font-size: 20px;
			font-weight: bold;
		}
	}
	// states
	// .resort-permit-feature:hover {
	// 	transform: translateY(-3px);
	// }