// block
.section {	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	// margin-bottom: 10px;

		@media screen and (max-width: 768px) {
				flex-wrap: wrap;
			}

	.section {
		margin-bottom: 0;
		@media screen and (max-width: 768px) {
				flex-direction: column;
			}
	}

}
	// elements
	.section__part-small{		
		width: 25%;
		flex-grow: 1;
		flex-shrink: 1;
		margin-bottom: 10px;

			@media screen and (max-width: 1200px) {
				width: 35%;
			}
			@media screen and (max-width: 968px) {
				width: 45%;
			}
			@media screen and (max-width: 768px) {
				width: 100%;
			}
			// @media screen and (max-width: 568px) {
			// 	width: 100%;
			// }			
	}

	.section__part-big{
		width: 75%;
		// flex: 0 0;
		flex-grow: 1;
		flex-shrink: 1;
		margin-bottom:10px;

			@media screen and (max-width: 1200px) {
				width: 65%;
			}
			@media screen and (max-width: 968px) {
				width: 55%;
			}
			@media screen and (max-width: 768px) {
				width: 100%;
			}
	}

	.section__half {
		width: 50%;
		// height: 100%;
	}
	
	// modificators
	.section_left {
		margin-right: 10px;
		// margin-right: 5px;

			@media screen and (max-width: 768px) {
				margin-right: 0;
			}			
	}
	.section_right {
		margin-left: 10px;
		// margin-left: 5px;

			@media screen and (max-width: 768px) {
				margin-left: 0;
			}
	}

	.section__part-big_smaller{
		width: 70%;
		flex-grow: 1;
		flex-shrink: 1;
		
			@media screen and (max-width: 1200px) {
				width: 65%;
			}
			@media screen and (max-width: 968px) {
				width: 55%;
			}
			@media screen and (max-width: 768px) {
				width: 100%;
			}
	}

	.section__part-small_bigger {
		// width: 390px;
		width: 29%;
		flex-grow: 1;
		flex-shrink: 1;

			@media screen and (max-width: 1200px) {
				width: 35%;
			}
			@media screen and (max-width: 968px) {
				width: 45%;
			}
			@media screen and (max-width: 768px) {
				width: 100%;
			}
	}