// block
.services {	
	padding: 37px 0;
	margin: 10px 0;
	// display: flex;
	h2 {
		padding:0 0 26px 37px;
	}
	p {
		padding:0 0 26px 37px;
	}
}

// modificators

.services_bg-gray {
	background-color: $color_gray;
}
