// block
.services {
	@include block_padding;	
	margin-bottom: 10px;
	h2 {
		padding-bottom: 26px;
	}
	p {
		margin-bottom: 41px;
	}
}

// modificators

.services_bg-gray {
	background-color: $color_gray;
}
