// block
.slide{

	.headline {
		font-size: 18px;
		margin-bottom: 10px;	
	}	
}
	

.slide_course {}
.slide_treatment {}
.slide_documents {}
.slide_food {
	display: flex;   
    flex-direction: row;
    flex-wrap: nowrap;
}
.slide_factor {
    display: flex;   
    flex-direction: row;
    flex-wrap: nowrap;
}
.slide_course {
	padding-left: 47px;

		@media screen and (max-width: 768px) {
			padding: 37px 37px 37px 37px;
		    margin: 20px;
		    border: 1px solid #fff;
		    background-color: rgba(255,255,255,.1);
		}
		@media screen and (max-width: 480px) {
			padding: 20px 20px 20px 20px;
		}
	
	p {
		margin-bottom: 18px;
		line-height: 21px;
		font-weight: 400;
	}
}


