.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  /*top: 50%;*/
  bottom: 0;
  width: 60px;
  height: 60px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-color: rgba(0,0,0,.9);
  background-size: 46px 42px;
  /*background-position: center;*/
  background-repeat: no-repeat;
}

.swiper-button-prev_caret,
.swiper-container-rtl_caret .swiper-button-next_caret {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 17px;
  height: 30px;
   z-index: 10;
  background-image: url(/img/icons/icon_caret-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  /*left: 10px;*/
  right: 60px;
  background-position: right center;
}

.swiper-button-next_caret,
.swiper-container-rtl_caret .swiper-button-prev_caret {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 17px;
  height: 30px;
   z-index: 10;
  background-image: url(/img/icons/icon_caret-right.png);
  background-size: contain;
  background-repeat: no-repeat;
  // background-color: blue;
  right: 0px;
  background-position: left center;
}



.swiper-slide_infographics {
  width: 20%;
  text-align: center;
}