.tab {
	list-style: none;
	font-size: 15px;	
	font-weight: 400;
	cursor: pointer;
}

.tab_course {
	padding: 8px 0;
	padding-left: 37px;	
	color: #fff;
	background-color: transparent;

		&.tab_active {
			background-color: $color_main;
		}		
}

.tab_about-food {
	padding: 8px 0;
	padding-left: 37px;
	color: $color_main;	
	background-color: transparent;
	margin-left: -37px;

		&.tab_active {
			background-color: $color_main;
			color: #fff;
		}

		@media screen and (max-width: 768px) {
			margin-left: -20px;			
			margin-right: -20px;			
		}

}

	// states
	