.text-block {
	padding: 37px 10px 37px 37px;
	// margin-bottom: 10px;
		
	h2,h3,h4,h5,h6 {
		// padding: 26px 16px 26px 0;
		margin: 26px 16px 26px 0;
	}	
	h2:first-child, 
	h3:first-child, 
	h4:first-child, 
	h5:first-child, 
	h6:first-child {
		margin: 0 16px 26px 0;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.text-block_first {
	padding-top: 27px; /*выравнивает отступ от submenu*/
}