.treatment-content-tab {
	position: relative;
	background-color: #e5f5f0;
	// border-left: 3px solid #e5f5f0;
	cursor: pointer;
	list-style: none;
	color: $color_main;
	flex-grow: 1;

	display: flex;
	flex-direcrion: row;
	align-items: center;
	padding: 20px 37px;

	&:before {
		position: absolute;
		top: 50%;
		right: 20px;
		width: 5px;
		height: 5px;
		border-bottom: 2px solid $color_main;
		border-right: 2px solid $color_main;
		transform: rotate(-45deg);
		transition: 200ms;
		content: "";
	}
	&:hover:before {
		right: 17px;
	}	
}

.treatment-content-tab_active {
	cursor: pointer;
	transition: 200ms;
	background-color: $color_main;
	color: #fff;	
	
	&:before {
		position: absolute;
		top: 50%;
		right: 17px;
		width: 5px;
		height: 5px;
		border-bottom: 2px solid #fff;
		border-right: 2px solid #fff;
		transform: rotate(-45deg);
		content: "";
	}
}


.swiper-pagination-bullet {
	width: auto;
	height: auto;
	background-color: transparent;
	opacity: 1;
	a {
		color: red;
	}
}

