.with-lightbox-overlay {
	position: relative;
	transition: 300ms;
	&:after {
		position: absolute;
		opacity: 0;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		content: "";
		display: block;
		background-color: rgba(0,0,0,.1);
		transition: 300ms;
	}
	&:hover:after {
		opacity: 1;
	}
}

