//fonts begin

@font-face {
	font-family: 'DIN-Pro-Cond';
	src: url('/fonts/DINPro/DINPro-CondensedBlackItalic.eot');
	src: local('DIN Pro Condensed Black Italic'), local('DINPro-CondensedBlackItalic'),
		url('/fonts/DINPro/DINPro-CondensedBlackItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/DINPro/DINPro-CondensedBlackItalic.woff') format('woff'),
		url('/fonts/DINPro/DINPro-CondensedBlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}