.flex-start {
	align-self: flex-start;
}
.flex-end {
	align-self: flex-end;
}

.pull-right{float: right;}
.pull-left{float: left;}

.hidden {
	display: none !important;
}

.text-center {
	text-align: center;
}

.with-border {
	@include block_border;
}

.bg_gray {
	background-color: #f0f0f0;
}

.bg_lightgreen {
	background-color: #e5f5f0;
}

.with-padding {
	@include block_padding;
}

.single-block {
	margin-bottom: 10px;
}

.mg-40 {
	margin-bottom: 40px;
}

.block-border {
	@include block_padding;
	@include block_border;
	// margin-bottom: 10px;

	p {
		margin-bottom: 15px;
	}
}


// .additional {
// 	font-size: 12px;
// 	color: $color_main;
// }

// .active .additional {	
// 	color: lightgray;
// }





// .grid {
// 	display: flex;
// 	flex-flow: row, nowrap;
// 	margin-bottom: 10px;

	

// 	.col-1 {flex-basis: ($container-width/12); flex: 1, 1, auto;}
// 	.col-2 {flex-basis: ($container-width/12)*2; flex: 1, 1, auto;}
// 	.col-3 {flex-basis: ($container-width/12)*3; flex: 1, 1, auto;}
// 	.col-4 {flex-basis: ($container-width/12)*4; flex: 1, 1, auto;}
// 	.col-5 {flex-basis: ($container-width/12)*5; flex: 1, 1, auto;}
// 	.col-6 {flex-basis: ($container-width/12)*6; flex: 1, 1, auto;}
// 	.col-7 {flex-basis: ($container-width/12)*7; flex: 1, 1, auto;}
// 	.col-8 {flex-basis: ($container-width/12)*8; flex: 1, 1, auto;}
// 	.col-9 {flex-basis: ($container-width/12)*9; flex: 1, 1, auto;}
// 	.col-10 {flex-basis: ($container-width/12)*10; flex: 1, 1, auto;}
// 	.col-11 {flex-basis: ($container-width/12)*11; flex: 1, 1, auto;}
// 	.col-12 {flex-basis: ($container-width/12)*12; flex: 1, 1, auto;}

// 	.col-1, 
// 	.col-2, 
// 	.col-3, 
// 	.col-4, 
// 	.col-5, 
// 	.col-6, 
// 	.col-7, 
// 	.col-8, 
// 	.col-9, 
// 	.col-10, 
// 	.col-11, 
// 	.col-12 {
// 		margin-right: 10px; 
// 		padding: 37px; 
// 		box-sizing: border-box;
// 		h2 {margin: 0 0 37px 0;}
// 		p {margin: 0 0 17px 0;}
// 	}

// 	div[class^="col-"]:last-child {
// 		margin-right: 0;
// 	}
// }

// .grid_wrap {
// 	flex-flow: row, wrap;
// }

// .grid_column {
// 	flex-flow: column, wrap;
// }