.flex-start {
	align-self: flex-start;
}
.flex-end {
	align-self: flex-end;
}

.pull-right{float: right;}
.pull-left{float: left;}

.hidden {
	display: none !important;
}

.text-center {
	text-align: center;
}
