.flex-start {
	align-self: flex-start;
}
.flex-end {
	align-self: flex-end;
}

.pull-right{float: right;}
.pull-left{float: left;}

.hidden {
	display: none;
	opacity: 0;
	width: 0;
	transform: translateX(30px);
}

.text-center {
	text-align: center;
}
