body {
	font-family: 'Acrom', sans-serif;
}
h1 {
	font-size: 33px;
	color: #3b3b3b;
	font-weight: 600;
}
h2{
	font-size: 26px;
	color: #3b3b3b;
	font-weight: 600;
	margin-bottom: 26px;
	&.outer-heading {
		margin: 26px 16px 26px 37px;
	}
	&.outer-heading_first {
		margin-top: 16px;
	}	
}
h3{
	font-size: 22px;
	color: #3b3b3b;
	font-weight: 600;
	margin-bottom: 18px;}
h4{font-size: 20px;
	color: #3b3b3b;
	font-weight: 600;
	margin-bottom: 18px;}
h5{font-size: 18px;
	color: #3b3b3b;
	font-weight: 600;
	margin-bottom: 18px;}
h6{font-size: 17px;
	color: #3b3b3b;
	font-weight: 600;
	margin-bottom: 18px;}
p {
	font-size: 17px;
	color: #3b3b3b;
	font-weight: 400;
	line-height: 18px;
	margin-bottom: 15px;
}

.color_main {color:$color_main;}
.color_secondary {color:$color_secondary;}
.color_white {color: #fff;}

h1.heading_fancy {
	padding: 0 0 0 0;
	// border-left: 4px solid #3b3b3b;
	margin: 30px 0 20px 0;
	text-transform: uppercase;
}

h2.heading_fancy {
	padding: 0 0 0 18px;
	border-left: 4px solid $color_main;
	margin: 40px 0;
	text-transform: uppercase;
}