/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

@font-face {
  font-family: 'robotobold';
  src: url("/fonts/roboto-bold-webfont.eot");
  src: url("/fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto-bold-webfont.woff2") format("woff2"), url("/fonts/roboto-bold-webfont.woff") format("woff"), url("/fonts/roboto-bold-webfont.ttf") format("truetype"), url("/fonts/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotolight';
  src: url("roboto-light-webfont.eot");
  src: url("roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("roboto-light-webfont.woff2") format("woff2"), url("roboto-light-webfont.woff") format("woff"), url("roboto-light-webfont.ttf") format("truetype"), url("roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotomedium';
  src: url("roboto-medium-webfont.eot");
  src: url("roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("roboto-medium-webfont.woff2") format("woff2"), url("roboto-medium-webfont.woff") format("woff"), url("roboto-medium-webfont.ttf") format("truetype"), url("roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoregular';
  src: url("roboto-regular-webfont.eot");
  src: url("roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("roboto-regular-webfont.woff2") format("woff2"), url("roboto-regular-webfont.woff") format("woff"), url("roboto-regular-webfont.ttf") format("truetype"), url("roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotothin';
  src: url("roboto-thin-webfont.eot");
  src: url("roboto-thin-webfont.eot?#iefix") format("embedded-opentype"), url("roboto-thin-webfont.woff2") format("woff2"), url("roboto-thin-webfont.woff") format("woff"), url("roboto-thin-webfont.ttf") format("truetype"), url("roboto-thin-webfont.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal; }

.flex-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.flex-end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

body {
  font-family: 'roboto', sans-serif; }

h1 {
  font-size: 33px;
  color: #3b3b3b;
  font-weight: 600; }

h2 {
  font-size: 26px;
  color: #3b3b3b;
  font-weight: 600; }

h3 {
  font-size: 22px;
  color: #3b3b3b;
  font-weight: 600; }

p {
  font-size: 15px;
  color: #3b3b3b;
  font-weight: 400; }

.color_main {
  color: #009e6a; }

.color_secondary {
  color: #007393; }

.color_white {
  color: #fff; }

.btn {
  padding: 9px 18px; }

.btn_color-main {
  color: #fff;
  background-color: #009e6a; }

.btn_color-secondary {
  color: #fff;
  background-color: #007393; }

.btn_gradient {
  color: #fff;
  background-image: -o-linear-gradient(left, #007393 0%, #009e6a 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #007393), color-stop(100, #009e6a));
  background-image: -webkit-linear-gradient(left, #007393 0%, #009e6a 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(#007393), to(#009e6a));
  background-image: linear-gradient(to right, #007393 0%, #009e6a 100%); }

.btn_transparent {
  color: #fff;
  background-color: transparent; }

.btn_main-color:hover {
  color: #fff; }

.btn_gradient:hover {
  color: #fff; }

.btn_transparent:hover {
  color: #fff; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%; }

.booking {
  background-color: #009e6a;
  width: 290px;
  height: 300px;
  padding: 37px; }

.booking__booking-form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  jusstify-content: space-between; }
  .booking__booking-form p, .booking__booking-form h2, .booking__booking-form input, .booking__booking-form a {
    color: #fff; }

.with-icon_calendar {
  background: transparent url(/img/ico-cal.png) 95% 5px no-repeat !important; }

.with-icon_discount {
  background: transparent url(/img/ico-cal.png) 95% 5px no-repeat;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 30px; }

.with-icon_caret-to-right {
  background: transparent url(/img/ico-cal.png) 95% 5px no-repeat;
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 30px; }

.input_big {
  width: 60%; }

.input_small {
  width: 16%; }

.input {
  float: left; }

input[type=text] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px;
  background: transparent;
  border-radius: 3px;
  text-align: center; }

input[type=submit] {
  border: 0;
  border-radius: 3px; }

.booking-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%;
  margin: 5px 0; }

.booking-row__left {
  width: 40%;
  color: #fff;
  font-size: 13px; }

.booking-row__right {
  width: 60%;
  color: #fff;
  font-size: 13px; }
  .booking-row__right .input_small {
    width: 30px; }
  .booking-row__right .input_left {
    margin-right: 15px; }

.booking-row_discount {
  margin: 10px 0; }

.all-offers {
  text-decoration: none;
  border-bottom: 1px dashed #fff;
  font-size: 12px; }

.section-fix-fluid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 10px; }

.section-fix-fluid__fix {
  width: 290px; }

.section-fix-fluid__fluid {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.resort-permit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: gray;
  height: 300px;
  margin-right: 10px;
  padding: 37px;
  background-image: url(/img/bg/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center 70%; }
  @media screen and (max-width: 768px) {
    .resort-permit {
      padding: 15px; } }
  .resort-permit p {
    font-size: 18px;
    font-weight: 300; }

.resort-permit__features {
  overflow: hidden; }

.resort-permit-feature {
  float: left;
  min-width: 165px;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }
  .resort-permit-feature p {
    font-size: 20px;
    font-weight: bold; }

.icon-container {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.icon-container_hero {
  width: 52px;
  height: 52px;
  margin-bottom: 18px; }

input[type=text] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px;
  background: transparent;
  border-radius: 3px;
  text-align: center; }

input[type=submit] {
  border: 0;
  border-radius: 3px; }

.with-icon_calendar {
  background: transparent url(/img/ico-cal.png) 95% 5px no-repeat !important; }

.with-icon_discount {
  background: transparent url(/img/ico-cal.png) 95% 5px no-repeat;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 30px; }

.with-icon_caret-to-right {
  background: transparent url(/img/ico-cal.png) 95% 5px no-repeat;
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 30px; }

.treatment-content-tabs {
  margin-right: 10px; }

.treatment-content-tab {
  background-color: #e5f5f0; }
  .treatment-content-tab p {
    position: relative;
    padding: 20px 37px;
    color: #009e6a; }
    .treatment-content-tab p:before {
      position: absolute;
      top: 50%;
      right: 20px;
      width: 5px;
      height: 5px;
      border-bottom: 2px solid #009e6a;
      border-right: 2px solid #009e6a;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      content: ""; }

.treatment-content-tab_active {
  background-color: #009e6a; }
  .treatment-content-tab_active p {
    color: #fff; }
    .treatment-content-tab_active p:before {
      position: absolute;
      top: 50%;
      right: 20px;
      width: 5px;
      height: 5px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      content: ""; }

.treatment-content-text {
  padding: 20px 37px;
  border: 2px solid #009e6a; }
  .treatment-content-text .headline {
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 30px 0; }
  .treatment-content-text .checklist {
    padding-left: 24px;
    list-style: none;
    font-size: 15px;
    font-weight: 300; }
  .treatment-content-text .checklist li {
    position: relative;
    padding-bottom: 5px; }
  .treatment-content-text .checklist li:before {
    position: absolute;
    top: 3px;
    left: -20px;
    width: 3px;
    height: 7px;
    border-bottom: 2px solid #007393;
    border-right: 2px solid #007393;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: ""; }
